:root {
	--containerColor: hsl(228, 56%, 26%);
	--backgroundColor: hsl(229, 57%, 11%);
}

body {
	font-family: sans-serif;
	height: 952px;
	background: url("../images/bg-desktop.png"), var(--backgroundColor);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 1455px;
	display: inline-flex;
}

@media(max-width: 780px) {

	body {
		flex-direction: column;
		background: url("../images/bg-mobile.png"), var(--backgroundColor);
		background-repeat: no-repeat;
		background-size: 475px;
		height: 755px;
		background-position: center;
	}

	.containerLeft {
		margin: 0px;
	}

	.containerRigth {
		margin: 0px;
	}
}
